@using NukeShop.BLL.DTOs.ProductDtos;
@using NukeShop.WebUI.ViewModels;
@model CategoryViewModel
@{
}
<div aria-hidden="true" aria-labelledby="modal-add-category-label"
     role="dialog" tabindex="-1" id="modal-add-category" class="modal fade">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <h5>Добавить новую категорию</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-antiforgery="true" asp-action="AddCategory"
            method="post" class="needs-validation" enctype="multipart/form-data">
                <div class="modal-body ">

                    <div class="form-group">

                        <label asp-for="Name" class="col-form-label">Название</label>
                        <input asp-for="Name" class="form-control" placeholder="Название" required />
                        <div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Добавить категорию</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}