@model ProductDto
<div aria-hidden="true" aria-labelledby="modal-delete-product-label"
     role="dialog" tabindex="-1" id="modal-delete-product-@Model.Id" class="modal fade">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirm delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="DeleteProduct" asp-controller="Admin" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">

                <div class="modal-body ">
                    Are you sure you want to remove product @Model.Name?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">Отмена</span></button>
                </div>
            </form>
        </div>
    </div>
</div>