@model EditUserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    var dateDefault = DateOnly.FromDateTime(DateTime.Now.Subtract(TimeSpan.FromDays(365 * 18)));
}

<form asp-action="CreateUser" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col">
            <input asp-for=FirstName type="text" class="form-control" placeholder="First name" aria-label="First name">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="col">
            <input asp-for=LastName type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            <span asp-validation-for="LastName"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>



    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-outline-secondary" />
    </div>
</form>
